.git
.github
.idea
.claude

.env
.env.local
.env.*.local
.env.test
.env.dist

vendor
var
tools/*/vendor

node_modules
public/bundles

tests
behat.php
phpunit.xml
phpstan.neon
deptrac.yaml
codestyle.php
Makefile
docker-compose.yml
.k8s

.deptrac.cache
.php-cs-fixer.cache
.phpunit.result.cache
.phpunit.cache
