/.env.local
/.env.local.php
/.env.*.local

/var/

.idea
.build
.DS_Store
.composer

.env
/vendor
/var/*

/tools/*/vendor

/docker/volumes/
/public/bundles/

/config/reference.php

.phpunit.result.cache
.phpunit.cache
.deptrac.cache

/clover.xml
/junit.xml

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###
